 <footer id="amb_footer" class="amb-footer">
        <div class="amb-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 visible-xs">
                        <div class="support-links">
                            <h4>Need help / got a question?</h4>
                            <p><a href="mailto:info@ambmyanmartravels.com">info@ambmyanmartravels.com</a></p>
                            <p><strong>Myanmar</strong></p>
                            <p>
                                </p><ul class="list-unstyled">
                                        <li><i class="fa fa-whatsapp" aria-hidden="true"></i> Viber :<a href="tel:+959775602007">(+95)9775602007</a> </li>
                                    <li><a href="tel:+959963015532">(+95)9963015532</a></li>
                                </ul>
                            <p></p>
                            <p>Singapore: <a href="tel:+6593374790">(+65) 93374790</a></p>
                            <p>
                                <br>
                                No.12(B), Ground Floor, 9th street, <br>Lanmadaw Township<br> Yangon, Myanmar
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="support-links">
                            <h4>AMB TOUR</h4>

                            <p>
                                </p><ul class="list-unstyled">
                                    <li><a href="/p/about" target="_blank">About Us</a></li>
                                    <li><a href="http://blog.ambtour.com" target="_blank">Blog</a></li>
                                    
                                </ul>
                            <p></p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <div class="support-links">
                            <h4>Useful Information</h4>
                            <p>
                                </p><ul class="list-unstyled">
                                    <li><a href="http://www.ambtour.com/p/dos-donts-tourists-myanmar" target="_blank">Myanmar Dos &amp; Don'ts For Tourists</a></li>
                                    <li><a href="http://www.myanmartourism.org/" target="_blank">Ministry of Hotels &amp; Tourism</a></li>
                                    <li><a href="http://www.tourismmyanmar.org/" target="_blank">Myanmar Tourism Federation</a></li>
                                    <li><a href="http://evisa.moip.gov.mm/" target="_blank">Myanmar eVisa</a></li>
                                    
                                    
                                </ul>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 separator">
                        <div class="support-links">
                            <h4>Popular Booking</h4>
                            <p>
                                </p><ul class="list-unstyled">
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-yangon-bagan" target="_blank">Bus Yangon to Bagan</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-yangon-mandalay" target="_blank">Bus Yangon to Mandalay</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-bagan-yangon" target="_blank">Bus Bagan to Yangon</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-bagan-taunggyi" target="_blank">Bus Bagan to Kalaw / Taunggyi / Inle</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-bagan-mandalay" target="_blank">Bus Bagan to Mandalay</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-mandalay-yangon" target="_blank">Bus Mandalay to Yangon</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-mandalay-bagan" target="_blank">Bus Mandalay to Bagan</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bus-ticket-mandalay-taunggyi" target="_blank">Bus Mandalay to Taunggyi</a></li>
                                    <li><a href="http://www.ambtour.com/booking/airport-transfer-service-mandalay" target="_blank">Mandalay Airport Transfer Service</a></li>
                                    <li><a href="http://www.ambtour.com/booking/airport-transfer-service-bagan" target="_blank">Bagan Airport Transfer Service</a></li>
                                    <li><a href="http://www.ambtour.com/booking/airport-transfer-service-yangon" target="_blank">Yangon Airport Transfer Service</a></li>
                                    <li><a href="http://www.ambtour.com/booking/bagan-car-rental" target="_blank">Car Rental Bagan</a></li>
                                </ul>
                            <p></p>
                            
                        </div>
                    </div>
                    <div class="col-md-4 hidden-xs separator">
                        <div class="support-links">
                            <h4>Need help / got a question?</h4>
                            <p><a href="mailto:info@ambmyanmartravels.com">info@ambmyanmartravels.com</a></p>
                            <p><strong>Myanmar</strong></p>
                            <p>
                                </p><ul class="list-unstyled">
                                        <li><i class="fa fa-whatsapp" aria-hidden="true"></i> / Viber :<a href="tel:+959775602007">(+95)9775602007</a> </li>
                                    <li>Tel: <a href="tel:+959963015532">(+95)9963015532</a></li>
                                </ul>
                            <p></p>
                            <p>Singapore: <a href="tel:+6593374790">(+65) 93374790</a></p>
                                <p>
                                    <br>
                                    ADDRESS:<br>
                                    No. 97(B), Ground Floor, Wardan Street, <br>Lanmadaw Township<br> Yangon, Myanmar
                                </p>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="evnk-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-push-7">

                        
                        <ul class="list-unstyled  home-social">
                            <li><a href="http://www.twitter.com/ambtour" class="twitter"></a></li>
                            <li><a href="http://www.facebook.com/ambtour" class="facebook">&nbsp;</a></li>
                            <li><a href="#contact" class="mail">&nbsp;</a></li>
                        </ul>

                    </div>
                    <div class="col-md-7 col-md-pull-5">
                        <a href="http://www.ambtour.com" class="evnk-logo regular"></a>
                        <ul class="footer-links">
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#privacy">Privacy Policy</a></li>
                            <li><a href="#terms">Terms of Service</a></li>
                        </ul>
                        <p class="copyright">© 2016 AMB Tour. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>