<div class="container">
		<div class="content-wrapper">
			<div class="page-header">
				<h1>Bus Operators</h1>
			</div>
			<p>The AMBTour Myanmar works with the following bus operators for bus ticketing across cities in Myanmar.</p>
			<div class="row">
				<div class="col-md-4">
					<img src="https://scontent-a.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10644372_975964579084395_7526792376259177916_o.jpg" class="img-rounded img-responsive" alt="Elite Express Team, Myanmar">
				</div>
				<div class="col-md-8">
					<h3>Elite Express</h3>
					<a href="http://www.ambtour.com/p/elite-express" class="btn btn-info">About Elite Express</a>
				</div>
			</div>
			<div class="row" style="margin-top:20px; padding: 10px 0px; border-top: 1px solid #eee">
				<div class="col-md-4">
					<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10661712_584686801635155_4096835194587609161_o.jpg" class="img-rounded img-responsive" alt="JJ Express Highway Bus, Myanmar">
				</div>
				<div class="col-md-8">
					<h3>JJ Express Highway Bus</h3>
					<a href="http://www.ambtour.com/p/jj-express" class="btn btn-info">About JJ Express</a>
				</div>
			</div>
			<div class="row" style="margin-top:20px; padding: 10px 0px; border-top: 1px solid #eee">
				<div class="col-md-4">
					<img src="https://scontent-b.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1533889_645293258847914_1030661617_n.jpg?oh=e4dc997f929e5150605e270e69358135&amp;oe=5556B4B4" class="img-rounded img-responsive" alt="Mandalar Minn Express Highway Bus, Myanmar">
				</div>
				<div class="col-md-8">
					<h3>Mandalar Minn Express Highway Bus</h3>
					<a href="http://www.ambtour.com/p/mandalarminn-express" class="btn btn-info">About Mandalar Minn Express</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info">
						<h4>
							Partnership Opportunities
						</h4>
						<p>
							If you are interested in partnership with ambtour Myanmar for highway bus transportation services, please contact us to hello@ambtour.com.  
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>