<div id="amb_site_home" class="amb-site-wrapper" ng-controller="busBookTicketController">
    <div class="container">
        <div id="amb_section_masthead" class="amb-masthead">
            <div class="amb-masthead-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="amb-event-title-box">
                            <h1 itemprop="name" class="item-title">{{busTicketDetail.fromCity}} &rarr; {{busTicketDetail.toCity}} Bus Ticket Booking</h1>
                                <h3 class="item-tagline">Book with AMBTour for easy &amp; hassle-free arrangement!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div id="amb_section_navbar" class="navbar amb-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
            </div>
            <!--<div class="container">
                <div class="collapse navbar-collapse navbar-ex1-collapse amb-nav-menu">
                    <ul class="nav navbar-nav">
                        <li class=""><a itemprop="url" ng-href="/page/bus-ticket-yangon-mandalay/home">Home</a></li>
                        <li class=""><a ng-href="/#/page/bus-ticket-yangon-mandalay/Bus-Stations">Bus Stations</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/Terms-Conditions">Terms &amp; Conditions</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/FAQs">FAQs</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/Trip-Info">Trip Info</a></li>
                    </ul>
                </div>
            </div>-->
        </div>

            <div id="amb_site_home_inner" class="amb-inner-wrapper">
                <div class="row">
                <div class="col-xs-12 col-md-12 details">                    
                <div id="details_register_details" class="details-inner">
                    <div class="msg-notification">
                                            
                    </div>
                        <div class="col-xs-1 col-md-1"></div>
                        <div class="col-md-10">
                            <ol class="breadcrumb ​amb-order-breadcrumb">
                        <li class="active"><a href="#">Enter Details</a></li>
                            <li>Payment</li>
                        <li>Complete</li>
                    </ol>                           

                    <div id="section_order_cart_summary" class="section order-cart-summary">
                        <div class="ticket-widget-heading">Order Summary</div>
                        <div class="ticket-widget-body" id="ticket_widget_body">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-striped ticket-table" id="ticket_table">
                            <colgroup>
                                <col width="50%">
                                <col width="12%">
                                <col width="8%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr class="ticket-head">
                                    <th class="th-type" align="left">Type</th>
                                    <th class="th-price" align="center">Unit Price</th>
                                    <th class="th-qty" align="center">Quantity</th>
                                    <th class="th-totalprice" align="right" style="text-align:right;  padding-right: 10px">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ticket in busTicketDetail.tickets" class="ticket-row">
                                    <td class="td-type" align="left">
                                        <div class="ticket-name">{{ticket.originPOI.title}}-&gt; {{ticket.destPOI.title}} - {{ticket.departureTime}} | {{ticket.bus.busClass}}({{ticket.bus.busClassDescription}})</div>
                                    </td>
                                    <td class="td-price" nowrap="nowrap">
                                        {{ticket.fare | currency:"USD "}}
                                    </td>
                                    <td class="td-qty" nowrap="nowrap" style="text-align: center"> 
                                        {{ticket.order_qty}}
                                    </td>
                                    <td class="td-totalprice" align="right" nowrap="nowrap" style="text-align:right; padding-right: 10px">
                                        {{(ticket.order_qty * ticket.fare) | currency:"USD "}}<br/>
                                    </td>
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr class="tr-subtotal">
                                    <td colspan="3" class="lbl">Sub Total</td>
                                    <td style="text-align: right" class="amt">{{subTotal | currency:"USD "}}</td>
                                </tr>
                                <tr class="tr-grandtotal">
                                    <td colspan="3" class="lbl grandtotal">Grand Total (USD)</td>
                                    <td style="text-align: right" class="amt grandtotal">{{grandTotal | currency:"USD "}}</td>
                                </tr>
                            </tfoot>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div id="section_register_details_form" class="section amb-register-form">
                        
                    <form ng-submit="registerBooking()"  class="form-horizontal" id="form_register_details" method="post" novalidate="novalidate">
                        <div class="attendee-form-instruction"><h3>Please complete your booking details.</h3></div>
                        <div ng-if="busTicketDetail.totalTickets == 1" >
                            <div ng-repeat="ticket in busTicketDetail.tickets" ng-init="ticketForm.passengerData[$index].RouteID=ticket.RouteID" id="ticket_form" class="form-section">
                                <input type="text" style="display:none" name="ticketForm.passengerData[$index].RouteID"  ng-model="ticketForm.passengerData[$index].RouteID" ng-value="{{ticket.RouteID}}">
                                <fieldset>
                                <legend><span class="ticket-title-index">Ticket #1</span> <span class="ticket-title-name">{{ticket.originPOI.title}}-&gt; {{ticket.destPOI.title}} - {{ticket.departureTime}} | {{ticket.bus.busClass}}({{ticket.bus.busClassDescription}})</span></legend>
                                <div id="field_wrapper_Ticket0__-" class="form-group form-group-subheader">
                                    <div class="subheader">
                                        <h5>
                                            Departure Date
                                        </h5>
                                    </div>
                                </div>
                                <input id="ticket_{{$index}}" name="ticket_{{$index}}" type="hidden" value="{{ticket.RouteID}}">
                                    <div id="field_wrapper_Ticket0__CustomField5" class="form-group">
                                        <label for="Ticket_departureDate" class="col-md-4 control-label">Travel Date (dd-mm-yyyy) (E.g., 03-03-2017):<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                             <datepicker date-min-limit="{{minDate}}" date-format="dd-MM-yyyy" selector="form-control" >
                                                <input id="ticket_departureDate" class="required form-control amb-input" ng-model="ticketForm.passengerData[$index].departureDate" type="text" placeholder="Choose a date"/>
                                            </datepicker>
                                            <span class="help-block">min. 24 hours in advance required for booking arrangement prior to travel date.</span>
                                        </div>
                                    </div>
                                    <div id="field_wrapper_Ticket0__-" class="form-group form-group-subheader">
                                        <div class="subheader">
                                            <h5>
                                                Passenger Details
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].FirstName" class="form-group">
                                        <label for="ticketForm.passengerData[$index].FirstName" class="col-md-4 control-label">First Name:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <input class="required form-control amb-input "
                                            ng-model="ticketForm.passengerData[$index].FirstName" maxlength="100" type="text" value="">
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].LastName" class="form-group">
                                        <label for="ticketForm.passengerData[$index].LastName" class="col-md-4 control-label">Last Name:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <input class="required form-control amb-input " ng-model="ticketForm.passengerData[$index].LastName" id="ticketForm.passengerData[$index].LastName" maxlength="100" name="ticketForm.passengerData[$index].LastName"  type="text" value="">
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].Email" class="form-group">
                                        <label for="ticketForm.passengerData[$index].Email" class="col-md-4 control-label">Email:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                                <input type="email" name="ticketForm.passengerData[$index].Email" id="ticketForm.passengerData[$index].Email" ng-model="ticketForm.passengerData[$index].Email" class="required form-control amb-input email "  autocorrect="off" autocapitalize="off" spellcheck="false">
                                            </div>
                                            <span class="help-block"><span class="label label-info">Note:</span> The confirmation email will be sent to this email.</span>
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].contactNo" class="form-group">
                                        <label for="ticketForm[$index].contactNo" class="col-md-4 control-label">Contact Number:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <input class="required form-control amb-input " ng-model="ticketForm.passengerData[$index].contactNo" id="ticketForm.passengerData[$index].contactNo" ng-maxlength="40" name="ticketForm.passengerData[$index].contactNo"  type="text" value="">
                                                <span class="help-block">country code + number (E.g., (+95) 95144943</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div ng-if="busTicketDetail.totalTickets > 1">
                            <div id="ticket_form_buyer_main_contact" class="form-section">
                            <fieldset>
                                <legend class="subheader">Buyer Information</legend>
                                <div id="field_wrapper_ticketForm.BuyerFirstName" class="form-group">
                                    <label for="ticketForm.BuyerFirstName" class="col-md-4 control-label">First Name:<span class="required">*</span></label>
                                    <div class="col-md-8 amb-controls">
                                        <input class="required form-control amb-input " ng-model="ticketForm.BuyerFirstName" id="ticketForm.BuyerFirstName" maxlength="100" name="ticketForm.BuyerFirstName"  type="text" value="">
                                    </div>
                                </div>
                                <div id="field_wrapper_ticketForm.BuyerLastName" class="form-group">
                                    <label for="ticketForm.BuyerLastName" class="col-md-4 control-label">Last Name:<span class="required">*</span></label>
                                    <div class="col-md-8 amb-controls">
                                        <input class="required form-control amb-input " ng-model="ticketForm.BuyerLastName" id="ticketForm.BuyerLastName" maxlength="100" name="ticketForm.BuyerLastName"  type="text" value="">
                                    </div>
                                </div>
                                <div id="field_wrapper_ticketForm.BuyerEmail" class="form-group">
                                    <label for="ticketForm.BuyerEmail" class="col-md-4 control-label">Email:<span class="required">*</span></label>
                                    <div class="col-md-8 amb-controls">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                            <input type="email" name="ticketForm.BuyerEmail" id="ticketForm.BuyerEmail" ng-model="ticketForm.BuyerEmail" class="required form-control amb-input email "  autocorrect="off" autocapitalize="off" spellcheck="false">
                                        </div>
                                        <span class="help-block"><span class="label label-info">Note:</span> The confirmation email will be sent to this email.</span>
                                    </div>
                                </div>
                                <div id="field_wrapper_ticketForm.BuyerContactNo" class="form-group">
                                    <label for="ticketForm.BuyerContactNo" class="col-md-4 control-label">Contact No:<span class="required">*</span></label>
                                    <div class="col-md-8 amb-controls">
                                        <input class="required form-control amb-input " ng-model="ticketForm.BuyerContactNo" id="ticketForm.BuyerContactNo" maxlength="100" name="ticketForm.BuyerContactNo"  type="text" value="">
                                    </div>
                                </div>                
                            </fieldset>
                            </div>
                            <div ng-repeat="ticket in busTicketDetail.tickets" ng-init="ticketForm.passengerData[$index].RouteID=ticket.RouteID">
                                <div ng-repeat="qty in [] | range:0:ticket.order_qty" id="ticketsform_{{ticket.RouteID}}_{{qty+1}}" class="form-section">
                                <fieldset>
                                <legend><span class="ticket-title-index">Ticket #{{qty+1}}</span> <span class="ticket-title-name">{{ticket.originPOI.title}}-&gt; {{ticket.destPOI.title}} - {{ticket.departureTime}} | {{ticket.bus.busClass}}({{ticket.bus.busClassDescription}})</span></legend>
                                <div id="field_wrapper_Ticket0__-" class="form-group form-group-subheader">
                                    <div class="subheader">
                                        <h5>
                                            Departure Date
                                        </h5>
                                    </div>
                                </div>
                                <input id="Ticket_0__TicketId" name="Ticket[0].TicketId" type="hidden" value="234">
                                    <div id="field_wrapper_Ticket0__CustomField5" class="form-group">
                                        <label for="ticketForm.passengerData[$index].departureDate" class="col-md-4 control-label">Travel Date (dd-mm-yyyy) (E.g., 03-03-2017):<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <datepicker date-min-limit="{{minDate}}" date-format="dd-MM-yyyy" selector="form-control" >
                                                <input name="ticketForm.passengerData[$index].departureDate" class="required form-control amb-input" ng-model="ticketForm.passengerData[$index].departureDate" type="text" placeholder="Choose a date"/>
                                            </datepicker>
                                                <span class="help-block">min. 24 hours in advance required for booking arrangement prior to travel date.</span>
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index]__-" class="form-group form-group-subheader">
                                        <div class="subheader">
                                            <h5>
                                                Passenger Details
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].FirstName" class="form-group">
                                        <label for="ticketForm.passengerData[$index].FirstName" class="col-md-4 control-label">First Name:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <input class="required form-control amb-input " ng-model="ticketForm.passengerData[$index].FirstName" id="ticketForm.passengerData[$index].FirstName" maxlength="100" name="ticketForm.passengerData[$index].FirstName"  type="text" value="">
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].LastName" class="form-group">
                                        <label for="ticketForm.passengerData[$index].LastName" class="col-md-4 control-label">Last Name:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <input class="required form-control amb-input " ng-model="ticketForm.passengerData[$index].LastName" id="ticketForm.passengerData[$index].LastName" maxlength="100" name="ticketForm.passengerData[$index].LastName"  type="text" value="">
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].Email" class="form-group">
                                        <label for="ticketForm[$index].Email" class="col-md-4 control-label">Email:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                                <input type="email" name="ticketForm.passengerData[$index].Email" id="ticketForm.passengerData[$index].Email" ng-model="ticketForm.passengerData[$index].Email" class="required form-control amb-input email "  autocorrect="off" autocapitalize="off" spellcheck="false">
                                            </div>
                                            <span class="help-block"><span class="label label-info">Note:</span> The confirmation email will be sent to this email.</span>
                                        </div>
                                    </div>
                                    <div id="field_wrapper_ticketForm[$index].ContactNo" class="form-group">
                                        <label for="ticketForm[$index].ContactNo" class="col-md-4 control-label">Contact Number:<span class="required">*</span></label>
                                        <div class="col-md-8 amb-controls">
                                            <input class="required form-control amb-input " ng-model="ticketForm.passengerData[$index].ContactNo" id="ticketForm.passengerData[$index].ContactNo" maxlength="40" name="ticketForm.passengerData[$index].ContactNo"  type="text" value="">
                                            <span class="help-block">country code + number (E.g., (+95) 95144943</span>
                                        </div>
                                    </div>
                                    <input type="text" style="display:none" name="ticketForm.passengerData[$index].  " ng-model="ticketForm.passengerData[$index].RouteID" ng-value="{{ticket.RouteID}}">
                                </fieldset>
                            </div>
                        </div>
                        </div>

                                    <div id="payment_options_form" class="form-section section-payment-options clearfix">
                                        <fieldset>
                                            <legend><span class="payment-option-title">Choose Payment Method</span></legend>
                                            <div class="control-payment-options">
                                                    <div class="controls payment-stripe">
                                                        <div class="radio">
                                                            <label>
                                                                <input ng-model="ticketForm.PaymentMethod" class="required" id="order_PaymentType" name="order.PaymentType" type="radio" value="STRIPE"> Pay with Visa, Master and Amex:
                                                                <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/visa-curved-32px.png">
                                                                <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/mastercard-curved-32px.png">
                                                                <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/american-express-curved-32px.png">
                                                            </label>
                                                        </div>
                                                        <div class="help-block-comment">
                                                            <div style="margin-top: 10px; font-size:0.9em; color:#444">Accept Visa, Master and Amex. Secured Online Payment powered by <a href="http://stripe.com" target="_blank">Stripe</a>.</div>
                                                        </div>
                                                        <div class="help-block help-payment-stripe" style="display:none">
                                                        </div>
                                                        <input type="hidden" id="token" name="token" >
                                                    </div>
                                                                                <div class="controls payment-paypal">
                                                        <div class="radio">
                                                            <label>
                                                                <input  ng-model="ticketForm.PaymentMethod" class="required" id="order_PaymentType" name="order.PaymentType" type="radio" value="PAYPAL"> PayPal (accept Credit Card):
                                                                 <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/paypal-curved-32px.png">
                                                                  <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/mastercard-curved-32px.png">
                                                                   <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/visa-curved-32px.png">
                                                                    <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/discover-curved-32px.png">
                                                                 <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/american-express-curved-32px.png">
                                                            </label>
                                                        </div>
                                                        <div class="help-block help-payment-paypal" style="display:none">You will be redirected to PayPal to make payment and complete the order.</div>
                                                    </div>
                                                                                                                                                                                        </div>

                                        </fieldset>
                                    </div>
                                    <div class="section-action clearfix">
                                        <div class="payment-summary">
                                            <span>Total Payment: </span>
                                            <span>{{grandTotal | currency:"USD "}}</span>
                                        </div>
                                        <button id="btnProceedPayment" type="submit" class="btn btn-register btn-reg-payment" data-loading-text="Submitting...">Proceed with Order</button>

                                    </div>
                                    <div class="section-terms clearfix">
                                        <span class="accept-terms-text">By clicking "Proceed with Order", I confirm that I agree with the AMBTour <a href="http://ambtour.com/p/terms" target="_blank">terms of service</a> and <a href="http://ambtour.com/content/privacy" target="_blank">privacy policy</a>.</span>
                                    </div>
                    </form>
                    </div>
                        </div>
                        <div class="col-xs-1 col-md-1"></div>
                    </div>
                </div>
                </div>
            </div>

</div>

<div class="amb-footer-top">
       <div class="container">
           <div class="row">
               <div class="col-md-6" style="padding-top: 20px">
                   <a href="http://ambtour.com/" target="_blank">AMBTour</a> makes travel booking in Myanmar easy
               </div>
               <div class="col-md-6" style="text-align: right">
                   <h5>Need help or questions?</h5>
                   <p>email: <a href="mailto:sales@ambtour.com">sales@ambtour.com</a></p>
               </div>
           </div>
       </div>
</div>