<div id="amb_site_home" class="amb-site-wrapper" ng-controller="busController as busCtrl">
    <div class="container">
        <div id="amb_section_masthead" class="amb-masthead">
            <div class="amb-masthead-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="amb-event-title-box">
                            <h1 itemprop="name" class="item-title">{{busRouteDetail.fromCity}} &rarr; {{busRouteDetail.toCity}} Bus Ticket Booking</h1>
                            
                                <h3 class="item-tagline">Book with AMBTour for easy &amp; hassle-free arrangement!</h3>
                        </div>
                        <a ng-click="back()" class="btn btn-info pull-right" href="javascript:">Back</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div id="amb_section_navbar" class="navbar amb-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="container">
                <div class="collapse navbar-collapse navbar-ex1-collapse amb-nav-menu">
                    <ul class="nav navbar-nav">
                        <li class=""><a itemprop="url" ng-href="/page/bus-ticket-yangon-mandalay/home">Home</a></li>
                        <li class=""><a ng-href="/#/page/bus-ticket-yangon-mandalay/Bus-Stations">Bus Stations</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/Terms-Conditions">Terms &amp; Conditions</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/FAQs">FAQs</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/Trip-Info">Trip Info</a></li>
                    </ul>
                </div>
            </div>
        </div>

            <div id="amb_site_home_inner" class="amb-inner-wrapper">
                <div class="row">                        
                    <div id="details_home" class="details-inner">
                    <div id="messages" class=" msg-notification alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    
                    <div id="ticket_widget_wrapper" class="ticket-widget-wrapper">
                        <div class="ticket-widget-heading" id="ticket_widget_heading">
                            <div class="title">Ticket Information</div>
                        </div>
                        <div id="ticket_widget_body" class="ticket-widget-body">
                            <form id="form_ticket_widget" ng-submit="processForm()" name="bookTickets" role="form">
                                <input id="Referral" name="Referral" type="hidden" ng-model="Referral"  value="" >
                                <input id="InvitationCodeCopy" name="InvitationCodeCopy" ng-model="InvitationCodeCopy" type="hidden" value="" >
                                <input id="category" name="category" type="hidden" value="">
                                <div class="row row-heading">
                                    <div class="col-xs-9 col-sm-7 col-ticket th-type">
                                        <div class="pull-left">
                                            Ticket
                                        </div>
                                        <div class="pull-right text-right visible-xs">
                                            Price in (USD)
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-ticket hidden-xs">
                                        <div class="th-departure">
                                            Departure Time
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-ticket  hidden-xs">
                                        <div class="th-price">
                                                <div>Price (USD)</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 col-ticket">
                                        <div class="th-qty">
                                            Quantity
                                        </div>
                                    </div>
                                </div>
                                        <div ng-repeat="ticket in busRouteDetail.ticket_list" class='row row-ticket tr-{{ticket.RouteID}}' data-id='{{ticket.RouteID}}' >
                                            <div class="col-xs-9 col-sm-7 col-ticket td-type" id="{{ticket.RouteID}}" align="left">
                                                <div>
                                                    <div class="ticket-name">{{ticket.fromCity}} -&gt; {{ticket.toCity}} - {{ticket.departure_time}} | {{ticket.way_type}} ({{ticket.bus_class}})</div>
                                                    <div class="departure-time visible-xs">
                                                        <span class="text-muted">
                                                            <strong>Departure Time:</strong>
                                                        </span>
                                                        <span class="label label-success">
                                                           {{ticket.departure_time}}
                                                        </span>
                                                    </div>
                                                    
                                    <div class="ticket-desc comment more-less" id='{{ticket.RouteID}}'>
                                        {{ticket.routeDescription}}
<br>{{busRouteDetail.currency}}{{busRouteDetail.booking_fee}} {{ticket.routeDetail}}
                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 hidden-xs col-ticket td-departure" id="{{ticket.RouteID}}" align="left" nowrap="nowrap">
                                                {{ticket.departure_time}}
                                            </div>
                                                <div class="col-xs-3 col-sm-1 col-ticket td-price" id="{{ticket.RouteID}}" align="left" nowrap="nowrap">
                                                            <div><span class="visible-xs">Price:</span>{{busRouteDetail.currency}} {{ticket.price}}</div>
                                                </div>
                                                <div class="col-xs-3 col-sm-2 col-ticket td-qty" id='{{ticket.RouteID}}' align="right" nowrap="nowrap">
                    <select  ng-class="{ 'has-error' : errorQuantity }" id='quantity_{{ticket.RouteID}}' class="form-control input-quantity" ng-model="ticket_quantity" ng-init="ticket_quantity = 0" ng-options="x for x in quantity"> </select>
                    <span class="help-block" ng-show="errorQuantity">{{ errorName }}</span>   

                                                </div>
                                        </div>            
                                    <div class="">
                                        <div class="clearfix boder-bottom-row invitation-row hide" id="field_invitation" style="display:none" ng-show="invitationcode">
                                            <div class="pull-right">
                                                <div id="field_wrapper_InvitationCode" style="background:#0fc">
                                                    <label for="InvitationCode">
                                                        Please enter an invitation code:
                    <input class="form-control input-invitation " id="InvitationCode" maxlength="50" name="InvitationCode" placeholder="Invitation code" type="text" value="" >                                </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="clearfix discount-row">
                                    <div class="pull-right hide">
                                        <a href="#enter_promo_code" rel="nofollow" class="">Enter promotional code</a>
                                        <div id="field_wrapper_DiscountCode" class="hide" style="background:#0fc">
                                            <label for="discountcode">
                                                If you have a promotional code, enter it here:
                    <input class="form-control input-discount" id="discountcode" maxlength="50" name="discount" placeholder="promotional code" type="text" value="" >                        </label>
                                            <button id="btnDiscount" name="action" type="submit" value="apply_discount" class="btn btn-primary btn-sm btn-discount">
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix action-row">
                                    
                                    <div class="pull-right">
                                            <button id="btnSubmit" name="action" type="submit" value="register" class="btn btn-success btn-register" >
                                                Book Ticket
                                            </button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

<div id="section_event_details" class="section amb-event-details">
    <div class="vevent">
        <!--if desc is html-->
            <div id="amb_event_details_desc" class="description">
<div class="amb-callout amb-callout-info">  
<p class="lead">Please note that the tickets for the following bus departure dates are not available:</p>  
<ul>  
<li>From 8-April-2016 to 20-April-2016</li>  
</ul>  
</div>  
<div class="amb-callout amb-callout-info">  
<p class="lead">All ticket prices are nett price including $5 booking fees, payment fees and bus ticketing arrangement.</p>  
</div>  
<div>  
<h2 class="lead"><span style="color: #ff6600;">From Yangon to Mandalay Bus Ticket with Hassle-Free online booking</span></h2>  
</div>  
<div class="row">  
<div class="col-xs-12 col-sm-8">  
<h4>Why book with us?</h4>  
<p>Our bus ticket booking (reservation) service will save your time and hassle of finding a bus ticketing agent or travel agent, and making a trip to buy bus ticket from ticketing agent after you arrive in Myanmar.</p>  
<p>We aim to make your travel arrangement more convenient and save time with our easy online booking service so that you can enjoy your precious holiday period more while you are in Myanmar instead of rushing to do your booking during your time in Myanmar.</p>  
</div>  
<div class="col-xs-12 col-sm-4"><img class="img-rounded img-responsive" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/856144_601974676483389_1722590756_o.jpg" alt="Yangon - Mandalay Express Bus"></div>  
</div>  
<h3 id="travelinfo">Bus Booking For Other Destinations</h3>  
<table class="table table-hover">  
<thead>  
<tr>  
<th>Destination</th>  
<th>Booking</th>  
</tr>  
</thead>  
<tbody>  
<tr>  
<td>  
<h5>Mandalay -&gt; Yangon</h5>  
</td>  
<td><a class="btn btn-success btn-sm" href="/booking/bus-ticket-mandalay-yangon">Book Bus Ticket</a></td>  
</tr>  
<tr>  
<td>  
<h5>Mandalay -&gt; Bagan</h5>  
</td>  
<td><a class="btn btn-success btn-sm" href="/booking/bus-ticket-mandalay-bagan">Book Bus Ticket</a></td>  
</tr>  
<tr>  
<td>  
<h5>All other cities</h5>  
</td>  
<td><a href="/p/book-bus-ticket-myanmar">Booking for other cities</a></td>  
</tr>  
</tbody>  
</table>            </div>
        
         
    </div>
</div>


</div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="amb-footer-top">
       <div class="container">
           <div class="row">
               <div class="col-md-6" style="padding-top: 20px">
                   <a href="http://ambtour.com/" target="_blank">AMBTour</a> makes travel booking in Myanmar easy
               </div>
               <div class="col-md-6" style="text-align: right">
                   <h5>Need help or questions?</h5>
                   <p>email: <a href="mailto:sales@ambtour.com">sales@ambtour.com</a></p>
               </div>
           </div>
       </div>
</div>