    <div class="masthead masthead-home">
        <div class="container">
            <div class="col-md-6 ">
                <div style="margin-top:40px" class="text-left">
                <h1 style="font-size:30px">
                Fast, Easy &amp; Hassle Free Travel Booking Arrangement in Myanmar!
                <br><small style="color:#eee">Save Your Half day from losing  <br>We make it easier and hassle-free for you.</small><br/><small style="color:#eee">No Headache, easy booking</small>
                </h1>
                </div>
            </div>
            <div class="col-md-6">
                <div style="background: #fff; padding: 20px 20px; margin-top: 20px; box-shadow: 1px 1px 2px #ccc;border-radius:10px">
                    <h1 style="margin-top: 0px; padding:10px; font-size:20px; color: #0ac; font-weight: bold; border-bottom: 1px solid #eee; text-align: center;border-radius:20px">Buy Ticket Online! Here's our route list</h1>
                    
<div role="tabpanel" ng-controller="busController as busCtrl">
    <!-- Nav tabs -->
    <uib-tabset active="active">
        <uib-tab index="$index + 1" ng-repeat="Route in busRouteByCity" heading="{{Route.RouteName}}" >
            <div class="row row-bus" ng-repeat="list in Route.RouteList" >
                    <div class="col-xs-7 col-sm-9">
                        <h5>{{list.originPOI.title}} &rarr; {{list.destPOI.title}} </h5>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a ng-href='#/booking/bus-ticket/{{list.originPOI.title}}-{{list.destPOI.title}}' class="btn btn-success btn-sm" role="button">Book Ticket</a>
                    </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
          </div>
            </div>
        </div>
    </div>

    <div id="main-content">
        <section id="tourpackages">
          <div class="container">          
            <h1>Tour Packages</h1>
          </div>
        </section>
        <section id="partners"></section>
        <section id="aboutus"></section>
        <section id="newspress"></section>
    </div>