<div class="container">
		<div class="content-wrapper">
			<div class="page-header">
				<h1>Bus Stations Information</h1>
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>City</th>
							<th>Bus Station</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Yangon</td>
							<td><a href="http://www.ambtour.com/p/aung-mingalar-bus-station">Aung Mingalar Bus Station</a></td>
							<td>
								<a href="https://www.google.com.sg/maps/place/Aung+Mingalar+Highway+Bus+Station/@16.9314438,96.1588786,17z/data=!4m2!3m1!1s0x30c1914c21334c51:0x6c435a6e9259fd8e" target="_blank">View Map</a>
							</td>
						</tr>
						<tr>
							<td>Mandalay</td>
							<td><a href="http://www.ambtour.com/p/kywesekan-bus-station" target="_blank">Chan Mya Shwe Pyi (a.k.a Kywe Se Kan) Highway bus station</a></td>
							<td>
								<a href="https://www.google.com/maps/dir//21.923563,96.089434/@21.9210946,96.0925239,16z?hl=en-GB" target="_blank">View Map</a>
							</td>
						</tr>
						<tr>
							<td>Pyin Oo Lwin</td>
							<td>Thiri Padaythar Highway Bus Station</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>Bagan (Nyaung-U)</td>
							<td>Bagan Shwe Pyi Highway Bus Terminal</td>
							<td>
								
							</td>
						</tr>
						
						<tr>
							<td>Taunggyi</td>
							<td>Thit Taw Bus Station</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>Naypyidaw
							</td><td>
								3 Bus Stations in Naypyidaw
								<ol>
									<li>Bagathiri Bus station</li>
									<li>Thapyagone bus station</li>
									<li>Myoma Zay bus station</li>
								</ol>
							</td>
							<td>
								
							</td>
						</tr>
						
						
					</tbody>
				</table>
			</div>
		</div>
    </div>