<div id="amb_site_home" class="amb-site-wrapper" ng-controller="busController as busCtrl">
    <div class="container">
        <div id="amb_section_masthead" class="amb-masthead">
            <div class="amb-masthead-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="amb-event-title-box">
                            <h1 itemprop="name" class="item-title">{{busRouteDetail.fromCity}} &rarr; {{busRouteDetail.toCity}} Bus Ticket Booking</h1>
                                <h3 class="item-tagline">Book with AMBTour for easy &amp; hassle-free arrangement!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div id="amb_section_navbar" class="navbar amb-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="container">
                <div class="collapse navbar-collapse navbar-ex1-collapse amb-nav-menu">
                    <ul class="nav navbar-nav">
                        <li class=""><a itemprop="url" ng-href="/page/bus-ticket-yangon-mandalay/home">Home</a></li>
                        <li class=""><a ng-href="/#/page/bus-ticket-yangon-mandalay/Bus-Stations">Bus Stations</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/Terms-Conditions">Terms &amp; Conditions</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/FAQs">FAQs</a></li>
                        <li class=""><a ng-href="/page/bus-ticket-yangon-mandalay/Trip-Info">Trip Info</a></li>
                    </ul>
                </div>
            </div>
        </div>

            <div id="amb_site_home_inner" class="amb-inner-wrapper">
                <div class="row">
                <div class="col-xs-12 col-md-12 details">                    
                <div id="details_register_details" class="details-inner">
                    <div class="msg-notification">
                                            
                    </div>
                        <div class="col-xs-1 col-md-1"></div>
                        <div class="col-md-10">
                            <ol class="breadcrumb ​amb-order-breadcrumb">
                        <li class="active"><a href="#">Enter Details</a></li>
                            <li>Payment</li>
                        <li>Complete</li>
                    </ol>                           

                    <div id="section_order_cart_summary" class="section order-cart-summary">
                        <div class="ticket-widget-heading">Order Summary</div>
                        <div class="ticket-widget-body" id="ticket_widget_body">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-striped ticket-table" id="ticket_table">
                            <colgroup>
                                <col width="50%">
                                <col width="12%">
                                <col width="8%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr class="ticket-head">
                                    <th class="th-type" align="left">Type</th>
                                    <th class="th-price" align="center">Unit Price</th>
                                    <th class="th-qty" align="center">Quantity</th>
                                    <th class="th-totalprice" align="right" style="text-align:right;  padding-right: 10px">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ticket-row" data-id="234">
                                    <td class="td-type" align="left">
                                        <div class="ticket-name">Yangon -&gt; Mandalay - 9:00 am | One Way (First Class Bus)</div>
                                    </td>
                                    <td class="td-price" nowrap="nowrap">
                                        $25.00
                                    </td>
                                    <td class="td-qty" nowrap="nowrap" style="text-align: center"> 
                                        1
                                    </td>
                                    <td class="td-totalprice" align="right" nowrap="nowrap" style="text-align:right; padding-right: 10px">
                                        $25.00
                                    </td>
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr class="tr-subtotal">
                                    <td colspan="3" class="lbl">Sub Total</td>
                                    <td style="text-align: right" class="amt">$25.00</td>
                                </tr>
                                <tr class="tr-grandtotal">
                                    <td colspan="3" class="lbl grandtotal">Grand Total (USD)</td>
                                    <td style="text-align: right" class="amt grandtotal">$25.00</td>
                                </tr>
                            </tfoot>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div id="section_register_details_form" class="section amb-register-form">

                    <form ng-submit="registerBooking()"  class="form-horizontal" id="form_register_details" method="post" novalidate="novalidate"><input id="order_EventId" name="order.EventId" type="hidden" value="14"><input id="order_OrderGuid" name="order.OrderGuid" type="hidden" value="07ab66e0-7f72-464a-a8ee-2f90c5800b14">            <input type="hidden" name="s_single_form" value="1">
                                <div class="attendee-form-instruction"><h3>Please complete your booking details.</h3></div>



                            <a name="fs_form_ticket_1"><!--bookmark--></a>
                            <div id="ticket_form_wrapper_250424_234_0" class="form-section">
                                <fieldset>
                                <legend><span class="ticket-title-index">Ticket #1</span> <span class="ticket-title-name">Yangon -&gt; Mandalay - 9:00 am | One Way (First Class Bus)</span></legend>
                                <input id="Ticket_0__TicketId" name="Ticket[0].TicketId" type="hidden" value="234">
                                
                    <div id="field_wrapper_Ticket0__-" class="form-group form-group-subheader">
                        <div class="subheader">
                            <h5>
                                Departure Date
                            </h5>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__CustomField5" class="form-group">
                        <label for="Ticket0__CustomField5" class="col-md-4 control-label">Travel Date (dd-mm-yyyy) (E.g., 23-02-2014):<span class="required">*</span></label>
                        <div class="col-md-8 amb-controls">
                            <input class="required form-control amb-input  hasDatepicker" moment-picker="ticketDate" ng-model="ticketDate" format="DD/MM/YYYY">
                            <!--<input class="required form-control amb-input  hasDatepicker" data-fieldid="Ticket0__CustomField5" id="Ticket0__CustomField5" maxlength="10" name="Ticket[0].CustomField5" style="font-family: Zawgyi-One;" type="text" value="">-->
                                <span class="help-block">min. 24 hours in advance required for booking arrangement prior to travel date.</span>
                            <span class="field-validation-valid" data-valmsg-for="Ticket[0].CustomField5" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__-" class="form-group form-group-subheader">
                        <div class="subheader">
                            <h5>
                                Passenger Details
                            </h5>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__FirstName" class="form-group">
                        <label for="Ticket0__FirstName" class="col-md-4 control-label">First Name:<span class="required">*</span></label>
                        <div class="col-md-8 amb-controls">
                            <input class="required form-control amb-input " data-fieldid="Ticket0__FirstName" id="Ticket0__FirstName" maxlength="100" name="Ticket[0].FirstName" style="font-family: Zawgyi-One;" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Ticket[0].FirstName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__LastName" class="form-group">
                        <label for="Ticket0__LastName" class="col-md-4 control-label">Last Name:<span class="required">*</span></label>
                        <div class="col-md-8 amb-controls">
                            <input class="required form-control amb-input " data-fieldid="Ticket0__LastName" id="Ticket0__LastName" maxlength="100" name="Ticket[0].LastName" style="font-family: Zawgyi-One;" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Ticket[0].LastName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__Email" class="form-group">
                        <label for="Ticket0__Email" class="col-md-4 control-label">Email:<span class="required">*</span></label>
                        <div class="col-md-8 amb-controls">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" name="Ticket[0].Email" id="Ticket0__Email" data-fieldid="Ticket0__Email" class="required form-control amb-input email " style="font-family: Zawgyi-One;" autocorrect="off" autocapitalize="off" spellcheck="false">
                            </div>
                            <span class="help-block"><span class="label label-info">Note:</span> The confirmation email will be sent to this email.</span>
                            <span class="field-validation-valid" data-valmsg-for="Ticket[0].Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__CustomField1" class="form-group">
                        <label for="Ticket0__CustomField1" class="col-md-4 control-label">Contact Number:<span class="required">*</span></label>
                        <div class="col-md-8 amb-controls">
                            <input class="required form-control amb-input " data-fieldid="Ticket0__CustomField1" id="Ticket0__CustomField1" maxlength="40" name="Ticket[0].CustomField1" style="font-family: Zawgyi-One;" type="text" value="">
                                <span class="help-block">country code + number (E.g., (+65) 6682-6572</span>
                            <span class="field-validation-valid" data-valmsg-for="Ticket[0].CustomField1" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div id="field_wrapper_Ticket0__CustomField2" class="form-group">
                        <label for="Ticket0__CustomField2" class="col-md-4 control-label">Nationality:<span class="required">*</span></label>
                        <div class="col-md-8 amb-controls">
                            <select class="required form-control amb-input " data-fieldid="Ticket0__CustomField2" id="Ticket0__CustomField2" name="Ticket[0].CustomField2" style="font-family: Zawgyi-One;"><option value=""></option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua And Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia And Herzegowina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei Darussalam</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Cote D'ivoire</option>
                    <option value="HR">Croatia (Local Name: Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="TP">East Timor</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands (Malvinas)</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="FX">France, Metropolitan</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard And Mc Donald Islands</option>
                    <option value="VA">Holy See (Vatican City State)</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran (Islamic Republic Of)</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Laos</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libyan Arab Jamahiriya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macau</option>
                    <option value="MK">Macedonia</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia</option>
                    <option value="MD">Moldova</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="AN">Netherlands Antilles</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="KP">North Korea</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russian Federation</option>
                    <option value="RW">Rwanda</option>
                    <option value="KN">Saint Kitts And Nevis</option>
                    <option value="LC">Saint Lucia</option>
                    <option value="VC">Saint Vincent And The Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome And Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia (Slovak Republic)</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia And The South Sandwich Islands</option>
                    <option value="KR">South Korea</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SH">St. Helena</option>
                    <option value="PM">St. Pierre And Miquelon</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard And Jan Mayen Islands</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syrian Arab Republic</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TH">Thailand</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad And Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks And Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="US">United States</option>
                    <option value="UM">United States Minor Outlying Islands</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Viet Nam</option>
                    <option value="VG">Virgin Islands (British)</option>
                    <option value="VI">Virgin Islands (U.S.)</option>
                    <option value="WF">Wallis And Futuna Islands</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="YU">Yugoslavia</option>
                    <option value="ZR">Zaire</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                    </select>
                            <span class="field-validation-valid" data-valmsg-for="Ticket[0].CustomField2" data-valmsg-replace="true"></span>
                        </div>
                    </div>            </fieldset>
                            </div>
                                    <div id="payment_options_form" class="form-section section-payment-options clearfix">
                                        <fieldset>
                                            <legend><span class="payment-option-title">Choose Payment Method</span></legend>
                                            <div class="control-payment-options">
                                                    <div class="controls payment-stripe">
                                                        <div class="radio">
                                                            <label>
                                                                <input class="required" id="order_PaymentType" name="order.PaymentType" type="radio" value="STRIPE"> Pay with Visa, Master and Amex:
                                                                <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/visa-curved-32px.png">
                                                                <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/mastercard-curved-32px.png">
                                                                <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/american-express-curved-32px.png">
                                                            </label>
                                                        </div>
                                                        <div class="help-block-comment">
                                                            <div style="margin-top: 10px; font-size:0.9em; color:#444">Accept Visa, Master and Amex. Secured Online Payment powered by <a href="http://stripe.com" target="_blank">Stripe</a>.</div>
                                                        </div>
                                                        <div class="help-block help-payment-stripe" style="display:none">
                                                        </div>
                                                        <input type="hidden" id="token" name="token" style="font-family: Zawgyi-One;">
                                                    </div>
                                                                                <div class="controls payment-paypal">
                                                        <div class="radio">
                                                            <label>
                                                                <input class="required" id="order_PaymentType" name="order.PaymentType" type="radio" value="PAYPAL"> PayPal (accept Credit Card):
                                                                 <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/paypal-curved-32px.png">
                                                                  <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/mastercard-curved-32px.png">
                                                                   <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/visa-curved-32px.png">
                                                                    <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/discover-curved-32px.png">
                                                                 <img style="position: relative; top: 0px; margin-left: 0px; width: 40px" src="assets/images/paymenticon/american-express-curved-32px.png">
                                                            </label>
                                                        </div>
                                                        <div class="help-block help-payment-paypal" style="display:none">You will be redirected to PayPal to make payment and complete the order.</div>
                                                    </div>
                                                                                                                                                                                        </div>

                                        </fieldset>
                                    </div>
                                    <div class="section-action clearfix">
                                        <div class="payment-summary">
                                            <span>Total Payment: </span>
                                            <span>USD $25.00</span>
                                        </div>
                                        <button id="btnProceedPayment" type="submit" class="btn btn-register btn-reg-payment" data-loading-text="Submitting...">Proceed with Order</button>

                                    </div>
                                    <div class="section-terms clearfix">
                                        <span class="accept-terms-text">By clicking "Proceed with Order", I confirm that I agree with the Scapetour <a href="http://ambtour.com/p/terms" target="_blank">terms of service</a> and <a href="http://ambtour.com/content/privacy" target="_blank">privacy policy</a>.</span>
                                    </div>
                    </form>
                    </div>
                        </div>
                        <div class="col-xs-1 col-md-1"></div>
                    </div>
                </div>
                </div>
            </div>

</div>

<div class="amb-footer-top">
       <div class="container">
           <div class="row">
               <div class="col-md-6" style="padding-top: 20px">
                   <a href="http://ambtour.com/" target="_blank">AMBTour</a> makes travel booking in Myanmar easy
               </div>
               <div class="col-md-6" style="text-align: right">
                   <h5>Need help or questions?</h5>
                   <p>email: <a href="mailto:sales@ambtour.com">sales@ambtour.com</a></p>
               </div>
           </div>
       </div>
</div>