  <div class="headerView">
  <div id="topbar" class="topbar-wrapper">
    <div class="alert-topbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="pull-right">
            Any question?
            <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 16px"></i> / Contact :<a href="tel:093423423">(+95)99234234234</a> | info@ambmyanmartravels.com
        </div>
      </div>
    </div>
  </div>

  <header id="header" class="amb_nav_header" ng-controller="headerCtrl as hCtrl" role="banner">
      <nav class="navbar amb-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " ng-href="#" title="AMB Travel & Tour"><img src="assets/images/logov1.png" class="amblogo" alt="AMB Travel & Tour"/></a><a ng-href="#"><span class="name pull-left">AMB TOUR</span></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown nav-item-bus">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bus Ticket <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a ng-href="#/book-bus-ticket-mm">Bus Ticket Booking</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-href="#/bus-operators">Bus Operators</a></li>
                  <li><a ng-href="#/bus-stations">Bus Stations List</a></li>
                </ul>
              </li>
              <li><a ng-href="#/tourpackages">Tour Packages</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-href="#/contactus">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
  </header>
  </div>